<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
  <style>
    body {
      background-color: #28a745; /* Green background (BSOD Green) */
      color: white; /* White text */
      font-family: 'Courier New', Courier, monospace;
      height: 100vh; /* Full viewport height */
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0; /* Remove default margin */
    }

    .error-box {
      text-align: left;
      padding: 30px;
      border-radius: 10px;
    }

    /* Sad face */
    .big-sad-face {
      font-size: 200px;
    }

    /* Error number styling */
    .error-number {
      font-size: 72px;
      font-weight: bold;
    }

    /* Error name styling */
    .error-name {
      font-size: 36px;
    }

    /* Error details styling */
    .error-details {
      font-size: 18px;
      margin-top: 10px;
    }
  </style>
</head>
<body>

  {{{body }}} <!-- This will insert the error page content -->


  
</body>
</html>